*{
    margin:0;
    padding:0;
}

.cards{
    display: flex;
    /* width: 350px;
    height:150px; */
    margin:20px
}

h3{
    font-weight: bold;
}
.card{
    border:2px solid black;
    background-color: antiquewhite;
    text-align: center;
    height: 200px;
    width:350px;
    margin: 10px;
}

.para{
    padding-top:15px;
    border-top: 2px solid black;
}

img{
    height: 120px;
}